<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        li {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Animal Kingdom</h1>
    <main>
        <div class="container">
            <% for (animal of animals) { %>
                <ul>
                    <li><img src="<%= animal.img %>"></li>
                    <li>Species: <%= animal.species %></li>
                    <li>Origin Location: <%= animal.location %></li>
                    <li>Life Expectancy: <%= animal.lifeExpectancy %> Years</li>
                    <li>extinct: <%= animal.extinct %></li>
                </ul>
            <% } %> 
        </div> 
    </main>
</body>
</html>