<!DOCTYPE html>
<html lang="en">   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <style>
        img {
            width: 350px;
            height: 350px;
        }
    </style>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <h2><%= animal.species %> - <%= animal.extinct ? "Extinct" : "Not Extinct"  %></h2>
            <h3>Originated: <%= animal.location %></h3>
            <h3>Life Expectancy: <%= animal.lifeExpectancy %> Years</h3>
            <img src="<%= animal.img %>">
            <br>
            <a href="/<%= animal._id %>/edit"><button>Edit <%= animal.species %></button></a>
            <form action="/<%= animal._id %>?_method=DELETE" method="POST">
                <input type="submit" value="delete"/>
            </form>

            <a href="/animals"><button>Back To The Kingdom</button></a>
        </div>
    </main>
</body> 
</html> 